h1{
    color: #f629ff;
    font-weight: bolder;
    text-align: center;
    font-size: 250%;
}

h3{
    color: hotpink;
    font-size: 150%;
}

li{
    color: deeppink;
    font-size: 120%;
    counter-increment: inherit;
}


body{
    background-color: #ffc1fe;
}

.top{
    background-color: #d991ff;
}

.not_top{
    background-color: #af4bff;
}